@model int

@{
    ViewBag.Title = "Checkout Complete";
}

<h2>Hoàn tất việc đặt hàng</h2>

<p>Cảm ơn bạn đả đặt hàng tại trang web của chúng tôi </p>
<p>Vui lòng đến cửa hàng để thanh toán hóa đơn.</p>
<p>Mọi thắc mắc vui lòng liên hệ 000000000.</p>
<p>
    @Html.ActionLink("Tiếp tục mua hàng", "Index", "Home")
</p>
