@model IEnumerable<CameraShop.Models.LoaiSanPham>
<ul>
    @if (Model != null)
    {
        foreach (var loaisp in Model)
        {
        <li><a href="@Url.Content("~/DanhSachSanPham/LoaiSanPham/" + loaisp.MaLoaiSanPham)">@loaisp.TenLoaiSanPham</a>
        </li>
        }
    }
</ul>